---
# yamllint disable rule:line-length
format: 1
vmd:
  defaults:
    group: Tools
    overlay: base
    relstage: stable

  versions:
    2.0.0a8:
      variants:
        - overlay: Alps
          target_cpus: [x86_64]
          systems: [.*.merlin7.psi.ch]
          relstage: stable
          build_requires:
            - gcc/12.3.0
            - cuda/12.9.1
            - virtualgl/3.1.4
          runtime_deps:
            - gcc/12.3.0
            - cuda/12.9.1
            - virtualgl/3.1.4
